@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: white;
}

.nav-header {
    margin-bottom: 75px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav {
    font-size: 1.25rem;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.contact-methods{
    font-size: 2rem;
}

.contact-methods a {
    text-decoration: none;
    color: white;
}

.contact-methods a:hover {
    color: yellow;
}

.video-border-yellow {
    border: 3px solid rgb(221, 221, 0);
}

.video-border-red {
    border: 3px solid rgb(204, 0, 0);
}

.video-border-blue {
    border: 3px solid rgb(8, 184, 238);
}